.container{
    padding-top: 3%;
}

.navbar-brand{
    font-family: 'Lexend'
}
.logo{
    max-width: 60%;
    height: auto;
}
img{
    max-width: 40%;
}
.small-text {
    font-size: 10px; /* Tamanho ajustado da fonte */
  }
@media (max-width: 570px) {
    img {
      max-width: auto; /* Define um tamanho máximo para telas pequenas */
      margin: 0 auto; /* Centraliza a imagem */
      display: block; /* Garante o comportamento responsivo */
    }
  }

